In [ ]:
class Person(object):
    pass

In [1]:
p1:Person = Person()
type(p1)

NameError: name 'Person' is not defined

In [2]:
p2:Person = Person()
type(p2)

NameError: name 'Person' is not defined

In [3]:
class Person(object):
    def __init__(self): #自訂的初始化
        self.name = "robert" #建立attribute name
        self.age = 25 #建立attribute age

In [4]:
p1:Person = Person()
p1.name, p1.age

('robert', 25)

In [5]:
p2:Person = Person()
p2.name, p2.age

('robert', 25)